# Les ligne commençant par '#' sont des commentaires.
# Ignorer tous les fichiers nommés foo.txt
# Ignorer tous les fichiers html
*.pyc
# à l'exception de foo.html qui est maintenu à la main
# Ignorer les objets et les archives
*.[oa]